.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Userlist-container {
  float: right;
  margin: 0px;
  margin-bottom: 0x;
  margin-left: 8px;
  margin-right: 0px;
  margin-top: 2px;
  padding: 0px;
  padding-top: 0px;
  padding-right: 6px;
  height: 42px;
  overflow-x: scroll;
  overflow-y: clip;
}

.UserClass {
    text-align: center;
    margin-right: 3px;
    height: 24;
    padding-top: 4px;
    float: left;
    width: 38px;
    height: 38px;
}

.User-avatar img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.anonymous {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  padding-top: 5px;
  font-size: 14px;
  text-emphasis: bold;
  background-color: darkgrey;
  color: white;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
}

.User-nickname {
  display: none;
}